.moves-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: green;
}

.move-group {
  display: flex;
  flex-direction: row;
  align-items: space-around;
  width: 90%;
}

.move {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 50%;
}
