.moves-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.05);
  flex-grow: 1;
  overflow-y: auto;
}

.move-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
  padding: 4px 0;
}

.move-group:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.02);
  border-radius: 4px;
}

.move {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 50%;
  padding: 4px 8px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.7);
  border-radius: 4px;
  transition: all 0.2s ease;
}

.move-number {
  min-width: 24px;
  margin-right: 8px;
  color: rgba(255, 255, 255, 0.5);
}

.move:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.active-move {
  color: #2196f3;
}
