.square {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  background-color: beige;
}

.light {
  background-color: #f0d9b5; /* Light beige */
}

.dark {
  background-color: #b58863; /* Brown */
}

.selected {
  position: relative;
}

.selected::after {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  border: 5px solid yellow;
  pointer-events: none; /* Ensures it doesn’t interfere with clicks */
}

.possible-move {
  position: absolute;
  display: block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  left: 0;
  top: 0;
  z-index: 10;
  background-color: green;
}

.white-pressure {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid white;
  right: 0;
  top: 0;
  z-index: 10;
  background-color: white;
  opacity: 0;
}

.black-pressure {
  position: absolute;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid black;
  right: 0;
  bottom: 0;
  z-index: 10;
  background-color: black;
  color: white;
  opacity: 0;
}

.level-1 {
  opacity: 0.2;
}
.level-2 {
  opacity: 0.4;
}
.level-3 {
  opacity: 0.6;
}
.level-4 {
  opacity: 0.8;
}
.level-5 {
  opacity: 0.9;
}
.level-6 {
  opacity: 1;
}

.illegal {
  background-color: red;
}

.left-notation {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -25%;
  font-size: 0.9rem;
  z-index: 10;
}

.bottom-notation {
  position: absolute;
  bottom: -25%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.9rem;
  z-index: 10;
}
