.scoreboard {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 10px 0 10px;
  background-color: red;
}

.scoreboard-side {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin: 5px;
  color: white;
  font-size: 16px;
  text-align: center;
}

.side-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
}

.captured-pieces {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

span {
  color: yellow;
  font-size: 1.25rem;
}
